.hangman {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


h1 {
  margin-bottom: 20px;
}


.word {
  margin: 2rem auto;
  font-size: 2rem;
  letter-spacing: 10px;
}

.letter {
  display: inline-block;
  width: 40px;
  margin-right: 5px;
  text-transform: uppercase;
}

.guessed {
  border-bottom: 2px solid #333;
  color: var(--aureolin);
}

.not-guessed {
  border-bottom: 2px solid #ccc;
  color: transparent;
}

.wrong-guesses {
  font-size: 1.2rem;
  color: var(--aureolin);
  margin-bottom: 20px;
}
.wrong-guesses-letter {
  text-transform: uppercase;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}