.status{
  font-size: 1.5rem;
  color: var(--aureolin);
  border: 1.5px solid var(--robin-egg-blue);
  border-style: dashed;
  width:fit-content;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1.5rem;
}
#result{
    animation: blink 1s;
    animation-iteration-count: 5;
}

@media only screen and (max-width: 600px) {
    #result {
      font-size: 1.2rem;
    }
  }

@keyframes blink { 50% { border-color:var(--aureolin)}  }
