
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.overpass-reg {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.overpass-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}
.danfo-headline-font {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}



:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--penn-blue);
  color: var(--white);
  font-family: var(--regular-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --headline-font: "Danfo", serif;
  --regular-font: "Overpass", sans-serif;

  --penn-blue: #0C0E24;
  --robin-egg-blue: #00c2d1ff;
  --aureolin: #f9e900ff;
  --sandy-brown: #f6af65ff;
  --shocking-pink: #ed33b9ff;
  --white:#ECF8F8;


    }
*{
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex-grow: 1;

}
main > div{
  align-self: center;
}
a{
  list-style: none;
  text-decoration: underline;
  font-family: var(--regular-font);
  font-weight: 600;
  font-size: 1.2rem;
  color:var(--aureolin);
}
a:hover{
  color:var(--shocking-pink);
  cursor:pointer;
}
h1 {
  margin: 0;
  font-family: var(--headline-font);
  color: var(--robin-egg-blue);
  font-size: 6rem;
  text-shadow: var(--robin-egg-blue) 1px 0 10px;;
}
