.primary_button{
    font-size: 1.5rem;
    border-radius: 20px;
    border: solid 2px var(--shocking-pink);
    background-color: #0C0E24;
    color:var(--shocking-pink);
    box-shadow: 0 0 5px rgb(230, 107, 195),
    0 0 25px rgb(230, 107, 195),
    0 0 50px rgb(230, 107, 195),
    0 0 200px rgb(230, 107, 195);
    padding: .75rem;
}